<h1 mat-dialog-title>Editar curso</h1>
<form mat-dialog-content>
    <form [formGroup]="formulario">
      <mat-form-field appearance="fill">
        <mat-label>id</mat-label>
        <input formControlName="id" matInput>
      </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>username</mat-label>
            <input formControlName="username" matInput>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>email</mat-label>
          <input formControlName="email" matInput>
        </mat-form-field>

        <form formGroupName="profesor">
          <mat-form-field appearance="fill">
            <mat-label>nombre</mat-label>
            <input formControlName="nombre" matInput>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>codigo</mat-label>
            <input formControlName="codigo" matInput>
          </mat-form-field>
        </form>

        <mat-form-field appearance="fill">
            <mat-label>website</mat-label>
            <input formControlName="website" matInput>
        </mat-form-field>

        <!-- <mat-slide-toggle formControlName="estado">estado</mat-slide-toggle> -->
    </form>
</form>
<div mat-dialog-actions>
    <button mat-button (click)="cerrar()">Cerrar</button>
    <button mat-button (click)="actualizar()">Actualizar</button>
</div>