<div class="contenedor-conciertos">
  <div class="row">
    <div class="col-sm-6 mb-2">
      <div class="card" style="background-image: url({{img01}});">
        <div class="card-body">
          <p class="card-title">27 de Octubre 2021</p>
          <h1 class="card-text">Rock in Rio</h1>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mb-2">
      <div class="card" style="background-image: url({{img02}});">
        <div class="card-body">
          <p class="card-title">12 de Noviembre 2021</p>
          <h1 class="card-text">FalconMasters' Concert</h1>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mb-2">
      <div class="card" style="background-image: url({{img03}});">
        <div class="card-body">
          <p class="card-title">13 de Diciembre 2021</p>
          <h1 class="card-text">Coachella</h1>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mb-2">
      <div class="card" style="background-image: url({{img04}});">
        <div class="card-body">
          <p class="card-title">20 de Diciembre 2021</p>
          <h1 class="card-text">US Festival</h1>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mb-2">
      <div class="card" style="background-image: url({{img05}});">
        <div class="card-body">
          <p class="card-title">27 de Diciembre 2021</p>
          <h1 class="card-text">Altomnt Speedway</h1>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mb-2">
      <div class="card" style="background-image: url({{img06}});">
        <div class="card-body">
          <p class="card-title">01 de Enero 2022</p>
          <h1 class="card-text">Rock in Rio Again</h1>
        </div>
      </div>
    </div>
  </div>
</div>

