<div class="container">
  <div class="row g-4">

    <div class="col-12 col-md-6 col-lg-4">
      <div class="card" style="background-image: url({{img01}});">
        <div class="card-body">
          <h3>Rock in Rio</h3>
          <p>27 de Octubre 2021</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <div class="card" style="background-image: url({{img02}});">
        <div class="card-body">
          <h3>Falcon Masters' Concert</h3>
          <p>12 de Noviembre 2021</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <div class="card" style="background-image: url({{img03}});">
        <div class="card-body">
          <h3>Coachella</h3>
          <p>13 de Diciembre 2021</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <div class="card" style="background-image: url({{img04}});">
        <div class="card-body">
          <h3>US Festival</h3>
          <p>20 de Diciembre 2021</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <div class="card" style="background-image: url({{img05}});">
        <div class="card-body">
          <h3>Altomnt Speedway</h3>
          <p>27 de Diciembre 2021</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <div class="card" style="background-image: url({{img06}});">
        <div class="card-body">
          <h3>Rock in Rio Again</h3>
          <p>01 de Enero 2022</p>
        </div>
      </div>
    </div>

  </div>
</div>
