<h1 mat-dialog-title>Editar Clase</h1>
<form mat-dialog-content>
    <form [formGroup]="formulario" class="row g-3">
<!--       <mat-form-field appearance="fill">
        <mat-label>id</mat-label>
        <input formControlName="id" matInput>
      </mat-form-field> -->
      <mat-form-field appearance="fill">
        <mat-label>codigo</mat-label>
        <input formControlName="codigo" matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>nombre</mat-label>
        <input formControlName="nombre" matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>temas</mat-label>
        <input formControlName="temas" matInput>
      </mat-form-field>
    </form>
</form>
<div mat-dialog-actions>
    <button mat-button (click)="cerrar()">Cerrar</button>
    <button mat-button (click)="actualizar()">Actualizar</button>
</div>