.toolbar {
  margin: 0;
  max-width: 1200px;
  margin: auto;
  border-radius: 10px;
  background-color: darkblue;
  color: azure;
}

.toolbar ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  height: 3em;
  padding: 0;
}

ul li {
  padding-left: 2em;
  font-weight: bold;
  color: azure;
}